

<html>
<head>

    <title>STUDENT REGISTRATION FORM</title>
    <link rel="stylesheet" href="FileName.css">
   
</head>

<body>

    <div class="mHeading">
        <h1>STUDENT REGISTRATION FORM</h1>
    </div>
    <div class=" sHeading"> <h4>PLEASE FILL ALL THE DETAILS</h4></div>
    <div class="form">
        <form action="backend.php">
            <div>
                FIRSTNAME:<input type="text" name="fName" id="fname" />
            </div>
            <br />
            <div>
                LASTNAME:<input type="text" name="lName" id="lname" />
            </div><br />
            <div>
                ADDRESS:<input type="text" name="myAdd" id="myadd" /> <br />  &nbsp;&nbsp;&nbsp;&nbsp;

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="myAdd" id="myadd" />
            </div><br />
            <div>
                EMAIL:<input type="email" name="myEmail" id="myemail" />
            </div><br />
            <div>
                Phone No:<input type="number" name="myPhone" id="myphone" />
            </div><br />
            <div>
                Gender:Male<input type="radio" name="myGender" />
                Female<input type="radio" name="myGender" />
                Others<input type="radio" name="myGender" />
            </div>
            <div>
                <input type="submit" value="SUBMIT"/>
                <inpuT type="reset" value="RESET" />
            </div>


        </form>
    </div>
</body>
</html>
